<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<h1> Scraped Articles </h1>
		</div>
		{{#each articles}}
		<div class="card">
		<div class="col-12">
			<h1>{{this.title}}</h1>
			<h4><a href="{{this.link}}">{{this.link}}</a></h4>
			<button class="note bg-primary text-white">Add Note</button>
			<button class="note bg-danger text-white">Delete Article</button>
		</div>

		</div>

		{{/each}}
	</div>
</div>